/*
Colors used

Text Color (Gray): #808080;
Primary Color (Purple): #357b70;
Secondary Color (Orange): #FFA500;
Button color (dark orange): #F54F33;
 */

 :root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --background: #d5e9f5;
  --Header: #95cced;
  --a-visit: #05676f;
  --a-active: #489c79;
  --button-back: #F54F33;
  --button-color: white;
  --button2-back: #e0b354;
  --button2-color: #2b2b2b;
  --grid-background: lightgray;
  --cactus: #3a4d14;
  --cactus50: #003500;
  --cactus100: #000000;
  --path: #d13e41;
  --path50: #641f20;
  --path100: #350d0e;
  --path2: #451D25;
  --path2-100: #000000;
  --path3: #B56147;
  --path3-100: #804533;
  --cliff: #E68956;
  --cliff100: #a86541;
  --cliff2: #D66650;
  --cliff2-100: #914637;
}

 * {
   box-sizing: border-box;
 }

/* BODY */
 body {
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 16px;
   background-color: #d5e9f5;
 }

 header {
    background-color: #95cced
}

/* h */
 h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px; 
  font-weight: 700;
}

/* a */
a {
  color: var(--primary-color);
}

a:visited {
  /* visited link */
  color: var(--a-visit);
}

a:hover a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--a-active);
}

button, .button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: var(--button-back);
  color: var(--button-color);
  text-decoration: none;
  /*adds spacing to the button (this will be discussed more in-depth later) */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition: 1.2s opacity;
}

.button__secondary {
  background-color: var(--button2-back);
  color: var(--button2-color);
}

button:hover, button:focus, .button:hover, .button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.5;
}


.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.page-footer {
  clear: both;
}

.page-footer {
   flex-direction: column;
   text-align: center;
   clear: both;
   display: flex;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  flex: 0 1 50px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
grid-gap: 20px;
}
.grid__item {
  background-color: var(--grid-background);
}
.grid__item:last-child {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}
@supports (display: grid) {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .grid__item {
        background-color: var(--grid-background);
        width: auto;
        padding: 10px;
        border-radius: 7px;
    }

    .grid__item h2 {
        margin: 0;
    }

    .grid__item:last-child {
        grid-column: 1/3;
        grid-row: 1/3;
    }
}

/* About Page Animations */
@keyframes cactus-color-change {
  0% {
    fill: var(--cactus);
  }
  50% {
    fill: var(--cactus50);
  }
  100% {
    fill: var(--cactus100);
  }
}
#path45, #path51 {
  animation: 7s cactus-color-change infinite alternate linear;
}

@keyframes path-color-change {
  0% {
    fill: var(--path);
  }
  50% {
    fill: var(--path50);
  }
  100% {
    fill: var(--path100);
  }
}
#path73, #path86 {
  animation: 7s path-color-change infinite alternate linear;
}

@keyframes path2-color-change {
  0% {
    fill: var(--path2);
  }
  100% {
    fill: var(--path2-100);
  }
}
#path62 {
  animation: 7s path2-color-change infinite alternate linear;
}

@keyframes path3-color-change {
  0% {
    fill: var(--path3);
  }
  100% {
    fill: var(--path3-100);
  }
}
#path82, #path71 {
  animation: 7s path3-color-change infinite alternate linear;
}

@keyframes cliff2-color-change {
  0% {
    fill:var(--cliff2);
  }
  100% {
    fill: var(--cliff2-100);
  }
}
#path80 {
  animation: 7s cliff2-color-change infinite alternate linear;
}

@keyframes cliff-color-change {
  0% {
    fill: var(--cliff);
  }
  100% {
    fill: var(--cliff100);
  }
}
#path47, #path49, #path53 {
  animation: 7s cliff-color-change infinite alternate linear;
}

@keyframes sun-move {
 
  to {
    transform: translate(300px, 500px);
  }
}
#circle43 {
  animation: 7s sun-move infinite alternate linear;
}




/* OVERRIDES - MUST BE LAST ENTRY */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}